@page "/confirm-reset-password"
@using Microsoft.AspNetCore.Authorization
@using RACE2.FrontEndWebServer.Components
@* @attribute [Authorize] *@

<HeaderWithBanner />

<div class="govuk-width-container" style="min-height: 69vh;">

    <FeedbackBannerSignIn />

    <a class="govuk-back-link" href="javascript:history.back()">Back</a>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


            <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-9">
                <h1 class="govuk-panel__title">
                    Password updated
                </h1>
            </div>

            <p class="govuk-body">
                Continue to start your annual statement.
            </p>

            <button ole="button" draggable="false" class="govuk-button govuk-!-margin-top-6 govuk-!-margin-bottom-6"
                    data-module="govuk-button" @onclick="GoToNextPage">
                Continue
            </button>

        </div>
    </div>


    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

    </main>
</div>

<Footer />