@page "/confirm-forgot-password-email"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@using Microsoft.AspNetCore.Authorization;
@using RACE2.FrontEndWebServer.Components

<HeaderWithBanner />

<div class="govuk-width-container" style="min-height: 69vh;">

    <FeedbackBanner />
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        <EditForm Model="@UserDetail">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Check your email</h1>
                    <p style="font-size: 1.2875rem;font-weight: 400;font-family:arial,sans-serif;">Click the link in the email to reset your password.</p>
                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Email did not arrive
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p class="govuk-body">
                                Emails sometimes take a few minutes to arrive. If you do not receive an email, the service
                                can send you a new one.
                            </p>

                            <button class="govuk-button govuk-!-margin-bottom-8" data-module="govuk-button" type="button" @onclick="GoToNextPage">
                                Resend email
                            </button>

                            <p class="govuk-body">If you still do not receive an email contact the Environment Agency.</p>

                            <p class="govuk-body">
                                Email <a class="govuk-link--no-visited-state" href="">reservoirs@environment-agency.gov.uk</a>
                            </p>

                        </div>
                    </details>
                </div>
            </div>
        </EditForm>
    </main>
</div>

<Footer />