@page "/stat-non-stat"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@using Microsoft.AspNetCore.Authorization;
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]

<div class="govuk-width-container ">
    <a class="govuk-back-link" href="javascript:history.back()">Back</a>
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                    <h1 class="govuk-fieldset__heading">
                        Do you want to submit a statutory or non-statutory annual statement?
                    </h1>
                </div>
                <div class="govuk-label">
                    <div class="govuk-radios govuk-radios govuk-!-margin-top-2" data-module="govuk-radios">
                        <EditForm Model="@_statnonstat" OnSubmit="GoToNextPage">
                            <InputRadioGroup Name="statnonstat" @bind-Value="_statnonstat.StatNonStatOptions">
                                @foreach (Enum value in Enum.GetValues(typeof(StatNonStatClass.StatNonStatEnum)))
                                {
                                    <div class="govuk-radios__item">
                                        <InputRadio Value="@value" class="govuk-radios__input" />
                                        <span class="govuk-label govuk-radios__label">@value</span>
                                    </div>
                                }
                                <div>
                                    <button class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" type="submit"
                                            data-module="govuk-button">
                                        Continue
                                    </button>
                                </div>
                            </InputRadioGroup>
                        </EditForm>
                    </div>
                </div>

           </div>
           </div>
    </main>
</div>

