@page "/upload-your-template/{ReservoirId}/{ReservoirRegName}/{UndertakerName}/{UndertakerEmail}/{YesNoValue}"
@using Microsoft.AspNetCore.Authorization;
@using RACE2.FrontEndWebServer.Components
@attribute [Authorize]

<HeaderWithBanner />

<div class="govuk-width-container" style="min-height: 69vh;">
    
    <FeedbackBannerSignOut />

    <a class="govuk-back-link" @onclick="goback" style="color:black">Back</a>

    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl">File Upload</h1>

                <EditForm Model="@CurrentReservoir" OnSubmit="OnUploadSubmit">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="file-upload-1">
                            <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">Upload your statement
                            </h1>
                        </label>
                        <div id="file-upload-hint" class="govuk-hint">
                            You can upload your statement as a PDF or Word document. It can be up to 30MB.
                        </div>
                         <br />
                        <InputFile class="govuk-file-upload" OnChange="OnInputFileChange" accept=".docx,.pdf" />
@*                         @if (fileLoading)
                        {
                            <i class="fa fa-refresh"></i> <span>Loading...</span>
                        } *@
                    </div>
                    <button type="submit" draggable="false"
                            class="govuk-button govuk-!-margin-top-6 govuk-!-margin-bottom-6 govuk-!-margin-right-4"
                            data-module="govuk-button">
                        Send statement
                    </button>
                </EditForm>

            </div>
        </div>
    </main>
</div>

<Footer />