@page
@model CreateNewPasswordModel

@{
    Layout = "";
}
<link href="~/css/application.css" rel="stylesheet" />
<script src="~/js/site.js"></script>

<partial name="_HeaderPartialWithBanner" />

<div class="govuk-width-container ">

    <partial name="_FeedbackPartial" />

    <a class="govuk-back-link" href="javascript:history.back()">Back</a>

    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
                
                <form method="post">
                    <input type="hidden" asp-for="Input.Email"/>
                    @if (!ModelState.IsValid)
                    {
                        <div class="govuk-error-summary govuk-!-margin-top-8" data-module="govuk-error-summary">
                            <div role="alert">
                                <h2 class="govuk-error-summary__title govuk-error-message">
                                    There is a problem
                                </h2>
                                <div class="govuk-error-summary__body">
                                    <ul class="govuk-list govuk-error-summary__list">
                                        <li>
                                            <a href="#new-password-error">Check password</a>
                                        </li>
                                        <li>
                                            <a href="#confirm-password-error">Check confirm password</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                    <h1 class="govuk-heading-xl">Create a password</h1>
                    
                    <p>
                        Your password must be 8 or more characters. Use a mixture of letters, numbers and symbols.
                    </p>
                    @if (ModelState.IsValid)
                    {
                        <div class="gem-c-show-password" data-module="show-password" data-disable-form-submit-check="false" data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password" data-hide-full-text="Hide password" data-announce-show="Your password is shown" data-announce-hide="Your password is hidden" data-show-password-module-started="true">
                            <div class="govuk-form-group">
                                <label for="govGatePasswordNew" class="gem-c-label govuk-label">Create a Password</label>
                                <a id="password-error" style="text-decoration:none;">
                                    <div class="gem-c-show-password__input-wrapper">
                                        <input asp-for="Input.Password" id="govGatePasswordNew" autocomplete="off" class="gem-c-input govuk-input gem-c-input--with-password govuk-!-width-three-quarters" spellcheck="false" type="password">
                                        <button id="passwordbtnnew" class="gem-c-show-password__toggle" aria-controls="govGatePasswordNew" type="button" aria-label="Show password" onclick="getButtonText('passwordbtnnew','govGatePasswordNew')">Show</button>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="govuk-form-group govuk-form-group--error">
                            <label for="govGatePasswordNew" class="gem-c-label govuk-label">Create a Password</label>
                            <p id="password-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> Check password
                            </p>
                            <a id="password-error" style="text-decoration:none;">
                                <div class="gem-c-show-password__input-wrapper">
                                    <input autocomplete="off" asp-for="Input.Password" id="govGatePasswordNew" class="gem-c-input govuk-input gem-c-input--with-password govuk-input--error" 
                                           spellcheck="false" type="password">
                                    <button id="passwordbtnnew" class="gem-c-show-password__toggle" aria-controls="govGatePasswordNew" type="button" aria-label="Show password" onclick="getButtonText('passwordbtnnew','govGatePasswordNew')">Show</button>
                                </div>
                            </a>
                        </div>
                    }
                    <br />
                    @if (ModelState.IsValid)
                    {
                        <div class="gem-c-show-password" data-module="show-password" data-disable-form-submit-check="false" data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password" data-hide-full-text="Hide password" data-announce-show="Your password is shown" data-announce-hide="Your password is hidden" data-show-password-module-started="true">
                            <div class="govuk-form-group">
                                <label for="govGatePasswordConfirm" class="gem-c-label govuk-label">Confirm your password</label>
                                <a id="confirm-password-error" style="text-decoration:none;">
                                    <div class="gem-c-show-password__input-wrapper">
                                        <input asp-for="Input.ConfirmPassword" id="govGatePasswordConfirm" autocomplete="off" class="gem-c-input govuk-input gem-c-input--with-password govuk-!-width-three-quarters" spellcheck="false" type="password" value="">
                                        <button id="passwordbtnconfirm" class="gem-c-show-password__toggle" aria-controls="govGatePasswordConfirm" type="button" aria-label="Show password" onclick="getButtonText('passwordbtnconfirm','govGatePasswordConfirm')">Show</button>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="govuk-form-group govuk-form-group--error">
                            <label for="govGatePasswordConfirm" class="gem-c-label govuk-label">Confirm your password</label>
                            <p id="confirm-password-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> Check your confirm password
                            </p>
                            <a id="confirm-password-error" style="text-decoration:none;">
                                <div class="gem-c-show-password__input-wrapper">
                                    <input autocomplete="off" asp-for="Input.ConfirmPassword" id="govGatePasswordConfirm" class="gem-c-input govuk-input gem-c-input--with-password govuk-input--error"
                                           spellcheck="false" type="password">
                                    <button id="passwordbtnconfirm" class="gem-c-show-password__toggle" aria-controls="govGatePasswordConfirm" type="button" aria-label="Show password" onclick="getButtonText('passwordbtnconfirm','govGatePasswordConfirm')">Show</button>
                                </div>
                            </a>
                        </div>
                    }                   
                    <br />
                    <button type="submit" ole="button" draggable="false" class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-8" data-module="govuk-button">
                        Continue
                    </button>
                </form>
            </div>
        </div>
    </main>
</div>

<partial name="_FooterPartial" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
