@page
@model RACE2.SecurityProvider.Areas.Identity.Pages.ErrorModel

@{
    Layout = "_LayoutRace2App";
}

<partial name="_HeaderPartialWithBanner" model=Model />

<div class="govuk-width-container">

    <partial name="_FeedbackPartial" />

    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <div class="govuk-panel govuk-panel-dropout govuk-!-margin-top-4 govuk-!-margin-bottom-9">
                    <h1 class="govuk-panel__title">
                        Sorry, there is a problem with the service
                    </h1>
                </div>

                <p class="govuk-body">Try again later.</p>
                <p class="govuk-body">
                    If you need to talk to someone about your annual statement, contact the Environment Agency.
                </p>
                <p class="govuk-body">Email <a href="#" class="govuk-link">reservoirs@environment-agency.gov.uk</a></p>
            </div>
        </div>

    </main>
</div>

<partial name="_FooterPartial" />

@{
}
