@page
@model ForgotPasswordModel
@{
    Layout = "_LayoutRace2App";
}

<partial name="_HeaderPartialWithBanner" />

<div class="govuk-width-container" style="min-height: 69vh;">

    <partial name="_FeedbackPartial" />

    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                <form method="post">
                    @if (!ModelState.IsValid)
                    {
                        <div class="govuk-error-summary govuk-!-margin-top-8" data-module="govuk-error-summary">
                            <div role="alert">
                                <h2 class="govuk-error-summary__title govuk-error-message" style="color:black">
                                    There is a problem
                                </h2>
                                <div class="govuk-error-summary__body">
                                    <ul class="govuk-list govuk-error-summary__list">
                                        <li>
                                            <a href="#email-error">Check your email address</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                    <h1 class="govuk-heading-xl">Reset your password</h1>

                    <p class="govuk-label">By providing your email address we can send you a reset link to create a new password.</p>
                    <br />
                    <div class="govuk-form-group">
                        @if (ModelState.IsValid)
                        {
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="govGateUsername">
                                    Email address
                                </label>
                                <a id="email-error" style="text-decoration:none;">
                                    <input asp-for="Input.Email" class="govuk-input govuk-!-width-three-quarters" aria-required="true" aria-describedby="govGateUserId-hint" id="govGateUsername">
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="govuk-form-group govuk-form-group--error">
                                <label class="govuk-label" for="username-Id-2">
                                    Email address
                                </label>
                                <p id="national-insurance-number-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> Check your email address
                                </p>
                                <a id="email-error" style="text-decoration:none;">
                                    <input asp-for="Input.Email" class="govuk-input govuk-!-width-three-quarters govuk-input--error" aria-required="true" aria-describedby="national-insurance-number-hint national-insurance-number-error" id="govGateUsername">
                                </a>
                            </div>
                        }
                    </div>
                    <br />
                    <button type="submit" class="govuk-button">Send email</button>
                </form>
            </div>
        </div>
    </main>
</div>

<partial name="_FooterPartial" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
