@page
@model ForgotPasswordConfirmation
@{
    Layout = "";
}
<link href="~/css/application.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<script src="~/js/site.js"></script>

<partial name="_HeaderPartialWithBanner" />

<div class="govuk-width-container ">

    <partial name="_FeedbackPartial" />

    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        <form method="post">
        <div class="govuk-grid-row">  
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Check your email</h1>
                <p style="font-size: 1.2875rem;font-weight: 400;font-family:arial,sans-serif;">Click the link in the email to reset your password.</p>
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Email did not arrive
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p class="govuk-body">
                            Emails sometimes take a few minutes to arrive. If you do not receive an email, the service
                            can send you a new one.
                        </p>

                        <button class="govuk-button govuk-!-margin-bottom-8" data-module="govuk-button" type="submit">
                            Resend email
                        </button>

                        <p class="govuk-body">If you still do not receive an email contact the Environment Agency.</p>

                        <p class="govuk-body">
                            Email <a class="govuk-link--no-visited-state" href="">reservoirs@environment-agency.gov.uk</a>
                        </p>

                    </div>
                </details>
            </div>
        </div>
        </form>
    </main>
</div>
<partial name="_FooterPartial" />

