@page
@model ForgotPasswordConfirmation
@{
    Layout = "";
}
<link href="~/css/govuk-frontend-4.4.1.min.css" rel="stylesheet" />

<partial name="_HeaderPartialWithBanner" />

<div class="govuk-width-container ">

    <partial name="_FeedbackPartial" />

    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Check your email</h1>
                <p style="font-size: 1.2875rem;font-weight: 400;font-family:arial,sans-serif;">Click the link in the email to reset your password.</p>
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text" style="font-size: 1.2875rem;font-weight: 400;font-family:arial,sans-serif;">
                            I have not received the email
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        TBC?
                    </div>
                </details>
            </div>
        </div>
    </main>
</div>
<partial name="_FooterPartial" />

