@page
@model ResetPasswordConfirmationModel

@{
    Layout = "_LayoutRace2App";
}

<partial name="_HeaderPartialWithBanner" />

<div class="govuk-width-container ">

    <partial name="_FeedbackPartial" />

    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Reset password confirmation</h1>
                <br />
                <p class="govuk-body">
                    Your password has been reset. Please <a asp-page="./Login">click here to log in</a> with the new password.<br />
                </p>
            </div>
        </div>
    </main>
</div>
<partial name="_FooterPartial" />
