@page "/MaintenancePage"
@page "/MaintenancePage/{ErrorMessage}"
@using RACE2.FrontEndWebServer.Components
@inject IConfiguration _config

<Header/>

<div class="govuk-width-container" style="min-height: 69vh;">

    <FeedbackBanner/>

    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <div class="govuk-panel govuk-panel-dropout govuk-!-margin-top-4 govuk-!-margin-bottom-9">
                    <h1 class="govuk-panel__title">
                        Sorry, the service is unavailable
                    </h1>
                </div>

                <p class="govuk-body">
                    You'll be able to use the service from @MaintModeEndTime.
                </p>

                <p class="govuk-body">
                    If you need to talk to someone about your annual statement, contact the Environment Agency.
                </p>

                <p class="govuk-body">
                    Email <a href="mailto:s12statement@environment-agency.gov.uk"
                             class="govuk-link">s12statement@environment-agency.gov.uk</a>
                </p>

                <p class="govuk-body">Staff monitor emails from 9am to 5pm, Monday to Friday.</p>
            </div>
        </div>

    </main>
</div>

<Footer />

@code {
    [Parameter]
    public string ErrorMessage { get; set; }
    public string MaintModeEndTime { get; set; }
    protected override void OnInitialized()
    {
        MaintModeEndTime = _config["MaintModeEndTime"];
        base.OnInitialized();
    }
}
