@page "/PageNotFound"
@using RACE2.FrontEndWebServer.Components

<PageTitle>Page Not Found - Send a supervising engineer's annual statement - GOV.UK</PageTitle>

<HeaderWithBanner />

<div class="govuk-width-container" style="min-height: 69vh;">

    <FeedbackBannerSignOut/>

    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <div class="govuk-panel govuk-panel-dropout govuk-!-margin-top-4 govuk-!-margin-bottom-9">
                    <h1 class="govuk-panel__title">
                        Page not found
                    </h1>
                </div>

                <p class="govuk-body govuk-!-margin-top-6">
                    If you typed the web address, check it is correct.
                </p>
                <p class="govuk-body">
                    If you pasted the web address, check you copied the entire address.
                </p>
                <p class="govuk-body">
                    If the web address is correct or you selected a link or button, and you need to talk to someone about your
                    annual statement, contact the Environment Agency.
                </p>
                <p class="govuk-body">
                    Email <a href="mailto:s12statement@environment-agency.gov.uk"
                             class="govuk-link">s12statement@environment-agency.gov.uk</a>
                </p>
                <p class="govuk-body">Staff monitor emails from 9am to 5pm, Monday to Friday.</p>
            </div>
        </div>

    </main>
</div>

<Footer />


