@page "/race2-admin"
@using RACE2.FrontEndWebServer.Components
@attribute [Authorize]

<HeaderWithBanner />

<div class="govuk-width-container" style="min-height: 69vh;">
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

        <div class="govuk-grid-row" style="flex-flow">
            <div class="govuk-grid-column-one-thirds">
                <div>
                    <span class="govuk-heading-xl">
                        Choose an action from the list below
                    </span>
                </div>
                <nav>
                    <NavLink class="nav-link" @onclick="goToRegPage" style="cursor:pointer">
                        <span class="govuk-body">1. New User Registration</span>
                    </NavLink>
                    <NavLink class="nav-link" @onclick="goToChangePWPage" style="cursor:pointer">
                        <span class="govuk-body">2. Change User Password</span>
                    </NavLink>
                    <NavLink class="nav-link" style="cursor:none">
                        <span class="govuk-body">3. Reset User Lockout</span><br />
                        <EditForm Model="emailModel" OnValidSubmit="@OnValidSubmitUnlockUser" style="margin-left:20px;">
                            <DataAnnotationsValidator />
                            @* <ValidationSummary /> *@
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="govGateUserEmail">
                                    Email address
                                </label>
                                <ValidationMessage For="() => emailModel.UserEmail" />
                                <a id="email-error" style="text-decoration:none;">
                                    <InputText @bind-Value="emailModel.UserEmail" class="govuk-input govuk-!-width-three-quarters" aria-required="true" aria-describedby="govGateUserId-hint" id="govGateUserEmail" name="govGateUserEmail"/>
                                </a>
                            </div>
                            <button type="submit" class="btn btn-success">
                                Continue
                            </button>
                        </EditForm>
                    </NavLink>
                    <NavLink class="nav-link" style="cursor:none">
                        <span class="govuk-body">4. Set User As First Time User</span><br />
                        <EditForm Model="emailModel" OnValidSubmit="@OnValidSubmitFirstTimeUser" style="margin-left:20px;">
                            <DataAnnotationsValidator />
                            @* <ValidationSummary /> *@
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="govGateUsername">
                                    Email address
                                </label>
                                <ValidationMessage For="() => emailModel.UserEmail" />
                                <a id="email-error" style="text-decoration:none;">
                                    <InputText @bind-Value="emailModel.UserEmail" class="govuk-input govuk-!-width-three-quarters" aria-required="true" aria-describedby="govGateUserId-hint" id="govGateUsername" name="govGateUsername"/>
                                </a>
                            </div>
                            <button type="submit" class="btn btn-success">
                                Continue
                            </button>
                        </EditForm>
                    </NavLink>
                    <NavLink class="nav-link" @onclick="goToLogoutPage" style="cursor:pointer">
                        <span class="govuk-body">5. Sign Out</span>
                    </NavLink>
                </nav>
            </div>
         </div>

    </main>
</div>
<Footer />
