<div class="govuk-phase-banner">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
        </div>
        <div class="govuk-grid-column-one-third-from-desktop float-right" style="text-align:right;font-size:1rem;">
            <a href="/logout" class="govuk-link login-nav-2-item govuk-link--no-visited-state" style="margin-left:25px;margin-right:2px;">Sign out</a>
        </div>
    </div>
</div>