<div class="govuk-phase-banner">
    <div class="govuk-grid-row">
        <a href="/account/logout" class="govuk-link login-nav-2-item govuk-link--no-visited-state" style="margin-left:90%; margin-right:10%;text-align:right;">Sign out<span class="govuk-visually-hidden">template</span></a>
    </div>
</div>