<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://devracinffa1401.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/97ea02ef-73bc-4ee9-b320-b38a6b41b4d7/resourceGroups/DEVRACINFRG1401/providers/Microsoft.Web/sites/DEVRACINFFA1401</ResourceId>
    <UserName>$DEVRACINFFA1401</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://devracinffa1401.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>