@page "/reservoir-details-change-nearesttown"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@using Microsoft.AspNetCore.Authorization;
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]

<div class="govuk-width-container ">

    <a class="govuk-back-link" @onclick="goback">Back</a>

    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl">What is the town nearest to the reservoir?</h1>

                <EditForm Model="@CurrentReservoir" OnSubmit="GoToNextPage">

                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="ReservoirName">
                            Nearest Town
                        </label>
                        <InputText id="ReservoirName" class="govuk-input" @bind-Value="CurrentReservoir.NearestTown" />

                    </div>                    

                    <button class="govuk-button govuk-!-margin-top-6 govuk-!-margin-bottom-6" data-module="govuk-button" type="submit">Save and continue</button>

                </EditForm>

            </div>
        </div>

    </main>
</div>

