@page "/choose-a-reservoir"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="govuk-width-container ">

    <a class="govuk-back-link" @onclick="goback">Back</a>

    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
                <div>
                    <span class="govuk-heading-xl" for="choose a reservoir">
                        Which reservoir do you want to submit an annual statement for?
                    </span>
                </div>

                <div class="autocomplete">
                    <EditForm Model="AppStore.CurrentReservoir">
                        <InputText @bind-Value="@SelectedReservoirName" @oninput=HandleInput class="form-control filter" 
                               style="width:400px;border: 2px solid #000000;border-radius:unset;font-size: 18px;" />
                        @if (filteredReservoirNames is not null)
                        {
                            <ul class="options">
                                @if (filteredReservoirNames.Any())
                                {
                                    @foreach (string reservoir in filteredReservoirNames)
                                    {
                                        <li class="option" @onclick=@(_ => SelectReservoir(reservoir))>
                                            <span class="option-text">@reservoir</span>
                                        </li>
                                    }
                                }
                                else
                                {
                                    <li class="disabled option">No results</li>
                                }
                            </ul>
                        }

                        <div style="padding-top:10px;">
                            <button class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
                                    data-module="govuk-button" @onclick=@(args => GoToNextPage())>
                                Continue
                            </button>
                        </div>
                    </EditForm>
                </div>

                <div class="govuk-!-margin-top-8">
                    <a class="govuk-link govuk-link--no-visited-state" href="/reservoir-not-listed">
                        <span style="font-size: 1.1875rem;font-weight: 400;">Reservoir not listed?</span>
                    </a>
                </div>

            </div>
        </div>
    </main>
</div>

