@page "/enter-password"
<div class="govuk-width-container ">

    <a class="govuk-back-link" @onclick="goback" >Back</a>

    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                <EditForm Model=AppStore.CurrentUserDetail>

                    <div class="govuk-form-group">
                        <h1 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--l" for="event-name">
                                Enter the password
                            </label>
                        </h1>
                        <p>Your password must be 8 or more characters. Use a mixture of letters, numbers and symbols.</p>
                        <InputText class="govuk-input govuk-!-width-three-quarters" @bind-Value="@Password" type="password"
                                   style="border: 2px solid #000000;border-radius:unset;font-size: 18px;">
                        </InputText>
                    </div>
                    <p class="govuk-body">
                        <a class="govuk-link govuk-link--no-visited-state"
                                   @onclick="changepassword">Forgot password?</a>
                    </p>
                    <button class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" @onclick=@(args => GoToNextPage())
                            data-module="govuk-button">
                        Continue
                    </button>

                </EditForm>

            </div>
        </div>

    </main>
</div>


