@page "/enter-email"

<div class="govuk-width-container ">

    <a class="govuk-back-link"@onclick="goback">Back</a>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds" style="margin-top:40px;">
            <EditForm Model=AppStore.CurrentUserDetail>
               <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--l" for="event-name">
                            Enter your email address
                        </label>
                    </h1>
                    <InputText class="govuk-input" @bind-Value="@Email"
                               style="border: 2px solid #000000;border-radius:unset;font-size: 18px;">
                    </InputText>
                </div>
                <button class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" @onclick=@(args => GoToNextPage())
                        data-module="govuk-button">
                    Continue
                </button>
            </EditForm>
        </div>
    </div>
</div>


