@page "/reservoir-not-listed"

<div class="govuk-width-container ">

    <a class="govuk-back-link" href="javascript:history.back()">Back</a>

    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl">What is the name and location of the reservoir you're looking for?</h1>

                <EditForm Model="@newReservoir" OnSubmit="GoToNextPage">

                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="ReservoirName">
                            Reservoir name
                        </label>
                        <InputText id="ReservoirName" class="govuk-input" @bind-Value="newReservoir.registered_name" />

                    </div>

                    <div class="govuk-form-group">

                        <label class="govuk-label govuk-label--m" for="NearestPostcode">
                            Nearest town
                        </label>
                        <InputText id="NearestPostcode" class="govuk-input govuk-!-width-one-quarter" @bind-Value="newReservoir.NearestTown" />
                    </div>

                    <div class="govuk-form-group">

                        <label class="govuk-label govuk-label--m" for="new-grid-ref">
                            National Grid reference
                        </label>
                        <InputText id="NationalGridRef" class="govuk-input govuk-!-width-one-third" @bind-Value="newReservoir.grid_reference" />
                    </div>

                    <button class="govuk-button govuk-!-margin-top-6 govuk-!-margin-bottom-6" data-module="govuk-button" type="submit">Send</button>

                </EditForm>

            </div>
        </div>

    </main>
</div>

