@page "/enter-email"
@inject RACE2GraphQLClient client
@inject NavigationManager NavigationManager
@inject AppState appState

<div class="govuk-width-container ">

    <a class="govuk-back-link" href="javascript:history.back()">Back</a>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds" style="margin-top:40px;">
            <EditForm Model="appState">
               <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--l" for="event-name">
                            Enter your email address
                        </label>
                    </h1>
                    <InputText class="govuk-input" @bind-Value="@Email"
                               style="width:400px;border: 2px solid #000000;border-radius:unset;font-size: 18px;">
                    </InputText>
                </div>
                <button class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" @onclick=@(args => GoToNextPage())
                        data-module="govuk-button">
                    Continue
                </button>
            </EditForm>
        </div>
    </div>
</div>

@code {
    string? Email;
    private string errorMsg = "Email entered does not exist!!! Please try again.";

    protected override void OnInitialized()
    {
        Email = appState.GetEmail();
    }
    
    protected async Task<string> GetEmailFromDatabase(string email)
    {
        var result = await client.GetUserByEmailID.ExecuteAsync(email);
        if (result != null && result.Data != null && result.Data.UserByEmailID != null && result.Data.UserByEmailID.Email != null)
            return result!.Data!.UserByEmailID!.Email;
        else
            return "";
    }

    public async Task GoToNextPage()
    {
        appState.SetEmail(Email);
        if (Email != null && Email.Trim().Length != 0 && RegexUtilities.IsValidEmail(Email))
        {
            bool forceLoad = false;

            string emailInDatabase = await GetEmailFromDatabase(Email);
            if (emailInDatabase != null && emailInDatabase.Trim().Length != 0)
            {
                appState.SetEmail(Email);
                //string pagelink = "/create-password/" + emailInDatabase;
                string pagelink = "/create-password/";
                NavigationManager.NavigateTo(pagelink, forceLoad);
            }
            else
            {
                Email = errorMsg;
            }
        }
        else
        {
            errorMsg = "Input is not a valid email address!!! Please try again.";
            Email = errorMsg;
        }        
    }
 }
