@page "/reservoir-details"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@using Microsoft.AspNetCore.Authorization;
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]

<div class="govuk-width-container ">

    <a class="govuk-back-link" @onclick="goback">Back</a>
    <h3>reservoir_details</h3>
    <h3>Search results for @CurrentReservoirState.Value.CurrentReservoir.public_name</h3>
</div>

