@page "/reservoir-details"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="govuk-width-container ">

    <a class="govuk-back-link" @onclick="goback">Back</a>
    <h3>reservoir_details</h3>
    <h3>Search results for @CurrentReservoir.public_name  : @CurrentUserDetailState.CurrentUserDetail</h3>
</div>

