@page "/reservoir-details"
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]

<div class="govuk-width-container ">

    <a class="govuk-back-link" @onclick="goback">Back</a>
    <h3>reservoir_details</h3>
    <h3>Search results for</h3>
</div>

