@page "/confirm-forgot-password-email"
@using RACE2.Services
@using RACE2.Dto;
@using RACE2.DataModel;
@inject NavigationManager NavigationManager
@inject IUserService userService
@inject IConfiguration _config
@using Microsoft.AspNetCore.Authorization
@using RACE2.FrontEndWebServer.Components

<PageTitle>Confirm Forgot Password - Send a supervising engineer's annual statement - GOV.UK</PageTitle>

<HeaderWithBanner />

<div class="govuk-width-container" style="min-height: 69vh;">

    <FeedbackBanner />
        <EditForm Model="@UserDetail">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-heading-xl">Check your email</div>
                    <p class="govuk-body">Click the link in the email to reset your password.</p>
                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Email did not arrive
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p class="govuk-body">
                                Emails sometimes take a few minutes to arrive. If you do not receive an email, the service
                                can send you a new one.
                            </p>

                            <button class="govuk-button govuk-!-margin-bottom-8" data-module="govuk-button" type="button" @onclick="GoToNextPage">
                                Resend email
                            </button>

                            <p class="govuk-body">If you still do not receive an email contact the Environment Agency.</p>

                            <p class="govuk-body">
                                Email <a class="govuk-link--no-visited-state" href="">s12statement@environment-agency.gov.uk</a>
                            </p>
                            <p class="govuk-body">
                                Staff monitor emails from 9am to 5pm, Monday to Friday.
                            </p>

                        </div>
                    </details>
                </div>
            </div>
        </EditForm>
</div>

<Footer />

@code{
    private UserDetail UserDetail { get; set; } = new UserDetail();
    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    public void GoToNextPage()
    {
        bool forceLoad = true;
        string pagelink = _config["RACE2SecurityProviderURL"] + "/Identity/Account/ForgotPassword";

        NavigationManager.NavigateTo(pagelink, forceLoad);
    }
}