@page "/confirm-reset-password"
@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Authorization;
@using RACE2.DataModel;
@using RACE2.Dto;
@using RACE2.Services;
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager NavigationManager
@inject IUserService userService
@attribute [Authorize]

<PageTitle>Confirm Reset Password -Send a supervising engineer's annual statement - GOV.UK</PageTitle>

<HeaderWithBanner />

<div class="govuk-width-container" style="min-height: 69vh;">

    <FeedbackBanner />

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-9">
                <div class="govuk-panel__title">
                    Password updated
                </div>
            </h1>

            <p class="govuk-body">
                Continue to start your annual statement.
            </p>

            <button ole="button" draggable="false" class="govuk-button govuk-!-margin-top-6 govuk-!-margin-bottom-6"
                    data-module="govuk-button" @onclick="GoToNextPage">
                Continue
            </button>

        </div>
    </div>

    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

    </main>
</div>

<Footer />

@code {
    private string UserName { get; set; } = "Unknown";
    private UserDetail UserDetail { get; set; } = default!;

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    public void GoToNextPage()
    {
        bool forceLoad = true;
        string pagelink = "/logout";
        NavigationManager.NavigateTo(pagelink, forceLoad);
    }
}