@page "/PageTimedOut"
@using RACE2.FrontEndWebServer.Components
@inject NavigationManager NavigationManager

<PageTitle>Timeout - Send a supervising engineer's annual statement - GOV.UK</PageTitle>

<HeaderWithBanner />

<div class="govuk-width-container" style="min-height: 69vh;">

    <FeedbackBanner />

    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <div class="govuk-panel govuk-panel-dropout govuk-!-margin-top-4 govuk-!-margin-bottom-9">
                    <div class="govuk-panel__title">
                        You have been signed out
                    </div>
                </div>

                <p class="govuk-body">
                    You have been signed out because you did not do anything for 60 minutes.
                </p>
                <p class="govuk-body">
                    This is to protect your information.
                </p>

                <div>
                    <button role="button" draggable="false"
                            class="govuk-button govuk-!-margin-top-6 govuk-!-margin-bottom-6 govuk-!-margin-right-4"
                            data-module="govuk-button" @onclick="GoToLoginPage">
                        Sign in again
                    </button>
                </div>
            </div>
        </div>

    </main>
</div>

<Footer />

@code {

    private void GoToLoginPage()
    {
        bool forceLoad = true;
        NavigationManager.NavigateTo("/logout", forceLoad);
    }
}


